.survey-panel {
  font-size: 1.1em;
  h1 {
    text-align: center;
  }
  h2 {
    font-size: 2em;
  }
  a {
    display: block;
    text-align: center;
  }
  .panel {
    box-shadow: 1px 2px 18px 1px rgba(0, 0, 0, 0.5);
  }
  button {
    margin: 0 auto;
    width: 50%;
  }
  .orange {
    background-color: rgba(255, 177, 0, 0.45);
    border-color: rgba(255, 170, 23, 0.62);
    color: #ac3716;
  }
  button.orange:hover {
    border-color: rgba(255, 177, 0, 0.45);
    background-color: rgba(255, 170, 23, 0.62);
    color: #ac3716;
  }
}
