.footer{
  width: 100%;
  height: 50px;
  background: black;
  padding: 10px 30px;

  a {
    color: #FFFFFF;
    font-weight: 100;
    font-size: 1.2em;
    float: right;
    text-decoration: none;
  }
}
