.box {
  .react-filter-box {
    height: 45px;
    width: 95vw;
    font-size: 16px;
  }

  .CodeMirror {
    height: 50px;
  }
}

.day-picker-selection {
  background-color: white;
  color: black;
}

.custom-container {
  width: 95vw;
  margin: auto;
}
